Py_interp_LL/.marimo-dependencies/
nohup*.out
output/
Output/
Image1/*
Model/
ssathees_TV/
Class_Label/
Cellpose/cellpose_train*
.DS_Store
__pycache*
.ipynb_checkpoints
.idea
.Rhistory
*pth
Mask
tmp*
*swp
train_*
pred*
nohup.out*
.spyproject

Image/*
Model/
Output/
Feature_Heatmap/
hsvw3_requirements.txt
hsvw3/
tsp/
.virtual_documents/
requirements_hsvw3.txt
*.sh

Py_manus_cam/Thumbs.db


# local-only files
requirements_hsvw3.txt
run_train_ViT.sh
